.reserve-page {
    font-family: 'Noto Sans KR', sans-serif;
    color: #1a3c6c;
  }
  
  .category-tabs {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 30px 0;
    padding: 12px 0;
  }
  
  .category-tabs button {
    background-color: white;
    border: 1px solid #b6cde1;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    color: #1a3c6c;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.2s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    width:200px;
  }
  
  .category-tabs button:hover {
    background-color: rgb(145, 169, 202);
    border-color: #9fbdd9;
    color:white;
  }
  
  .category-tabs .active {
    background-color: #2e5386;
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    gap: 20px;
    margin: 30px 0;
    padding: 20px;
    background-color: #edf3fa;
    border-radius: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
    width:100%;
    height:800px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  .resv-card {
    background-color: #f5faff;
    border: 1px solid #ccd8e3;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    width: 350px;
  }
  
  .resv-card h3 {
    margin: 0 0 8px 0;
  }
  
  .resv-card .category {
    font-size: 13px;
    color: #5c789f;
  }
  
  .resv-card .status {
    font-size: 13px;
    font-weight: 500;
    color: #3a78c2;
  }
  
.empty{
  padding :15px;
} 