.SBoardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;      
  
  }
  
  .subcontainer{
    width:1000px;
  }
  .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      border-collapse: collapse;
     
    }
    
    .container th {
      background-color: #f4f4f4;
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
    
  
    .gaysipan {
      display: flex;
      justify-content: space-between;
      align-items: start;
  
      text-align: left;       
      padding: 15px;          
      font-size: 1.5rem;         
      font-weight: bold;          
      
      border-radius: 8px;         
    }
    
   
    .navi {
     
      color: #333;               
      text-align: left;           
      font-size: 1.2rem;          
      font-weight: normal;        
      border: 1px solid #ccc;    
      padding: 10px;              
    }
    
   
    
   
    .navi th {
      padding-top:30px;
      padding-left: 10px;  
     
    }
  
  
    
    
    
    hr {
      border: 0;
      height: 1px;
      background-color: #ccc;
     
    }
    
   
    .list {
      width: 100%;
      border: 1px solid #ccc;
      margin-top: 10px;
      border-collapse: collapse;
    }
    
    .list th, .list td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc;
    }
    
    .list th {
      background-color: #f4f4f4;
      font-weight: bold;
    }
    
    .list td {
      background-color: #fafafa;
    }
    
    .list tr:nth-child(even) td {
      background-color: #f9f9f9;
    }
    
    .list tr:hover td {
      background-color: #f0f0f0;
    }
  