.SBoardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;      
  
  }

  .subcontainer{
    width:1000px;
  }

  
 
 /* 스탠다드 글쓰기 입력창 */
 .container2 {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px;
}

.standardwrite10{
  font-weight:bold;
  font-size: 20px;
  margin-bottom:50px;
}

.signcancel {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-bottom: 20px;
}


.signcancel >button{
  padding: 10px 20px;
  background-color: lightcoral; 
  color: white; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
}



.gasyselect {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
}

.gasywrite {
    font-weight: bold; 
    flex:1;
}

.selects{
  flex:6;
}

.selects select {
    width: 40%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
 

.titlewrite {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
}

.title2 {
    font-weight: bold; 
    flex:1;
}

.text2 {
  flex:5;
}
.text2 input {
    width: 95%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}


.checkbox2 label {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-size:15px;
}



.file {
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
}


.contentwrite {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.list2{
  position: relative;
  /* border: 1px solid black; */
  width: 100%;
  height: 40px;
}

.list2>button{
  position: absolute;
  bottom: 0;
  right: 0;
}
