.maincontainer{
  width:100%;
  min-height:900px;
  border:1px solid black;
  display: flex;
  flex-direction: row;
}

.mainSidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:70px;
  min-height:100%;
  background-color:rgb(72, 78, 102);
}

.mainContents{
  width:100%;
}