.header {
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
  }
  
  .header-buttons button {
    margin-left: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }
  
  .login-button {
    border: 1px solid #2c3e50;
    padding: 6px 12px;
    border-radius: 8px;
    background: white;
    font-weight: bold;
    margin-right: 25px;
  }
  