/* 오버레이: 화면 전체 덮기 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    display: flex;
    align-items: center; /* 수직 중앙 */
    justify-content: center; /* 수평 중앙 */
    z-index: 1000;
  }
  
  /* 모달 컨테이너: 박스 */
  .modal-container {
    background: white;
    padding:50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    min-width: 500px;
    min-height: 600px;
  }
  
  /* 버튼 영역 */
  .modal-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  