
.another{
   
    height: 60px;
    display: flex;
}

.anotherimg{
    border: 1px solid black;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;

}

.anothername{
    margin-top: 18px;
    font-weight: bold;
    
}

.imgbox{
   
    width: 30%;
}

.namebox{
   
    width: 70%;
}