
.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
  flex-direction: column;
}

.loader-container {
  position: fixed; /* 스크롤과 무관하게 화면에 고정 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center;     /* 수평 중앙 정렬 */

  background-color: rgba(255, 255, 255, 0.8); /* 선택 사항: 반투명 배경 */
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

.message {
  font-size: 18px;
  color: #333;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
