
.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
  flex-direction: column;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.85); /* 반투명 배경 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 가장 위로 */
}

.spinner {
  width: 48px;
  height: 48px;
  border: 6px solid #ccc;
  border-top: 6px solid #1a3c6c;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

.message {
  font-size: 18px;
  color: #1a3c6c;
  font-weight: bold;
}



/* 회전 애니메이션 */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

